# veri
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# notebook
notebooks/.ipynb_checkpoints/

# model
models/*
!models/.gitkeep

# python
.venv/
__pycache__/
*.pyc
.env

# sistem
.DS_Store